.contato {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  align-items: center;
  padding-bottom: 60px;
}

.dados {
  font-size: 1.25rem;
  font-weight: 500;
}
.dados li {
  background: var(--darkBlue);
  max-width: max-content;
  color: aliceblue;
  padding: 5px;
  border-radius: 5px;
}
.dados li + li {
  margin-top: 20px;
}

.mapa {
  cursor: pointer;
}

[data-semana]::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--red);
  border: 2px solid #000;
}

[data-semana].aberto::after {
  background: #3f4;
}
