.header-bg {
  background: var(--darkHeade);
}
.header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu li + li {
  margin-left: 30px;
}

.menu a {
  color: var(--branco);
  padding: 10px;
  font-weight: 500;
  transition: 0.2s;
}

.menu a:hover {
  color: var(--red);
}

.logo {
  display: grid;
  gap: 10px;
}
.logo h1 {
  color: var(--branco);
  padding: 0px;
  font-size: 3rem;
  line-height: 0.5;
  font-weight: bold;
}

.logo span {
  justify-self: end;
  font-weight: 600;
  font-size: 2rem;
  color: var(--red);
}
