.Conheca {
  /* background: var(--darkHeade); */
  margin-bottom: 100px;
  display: grid;
}

/* .background {
  height: 20%;
  background: linear-gradient(175deg, var(--branco) 26%, var(--darkBlue) 26%);
} */

.Planos-lista {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.plano-item {
  display: grid;
  background: var(--darkHeade);
  align-self: end;
  padding: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.plano-item a {
  justify-self: center;
}
.plano-item h2 {
  color: var(--branco);
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

.plano-item span {
  color: var(--red);
}

.plano-item p {
  color: var(--branco);
  margin-bottom: 20px;
  font-size: 1.75rem;
  text-align: center;
}

.plano-item li {
  color: var(--branco);
  display: flex;
  align-items: center;
}

.plano-item li::before {
  content: "";
  display: inline-block;
  background: url("./icones/verifica\ \(1\).png") no-repeat;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}
.plano-item li:last-child {
  margin-bottom: 30px;
}

.plano-item li + li {
  margin-top: 10px;
  color: var(--branco);
}
