@import url("./css/header.css");
@import url("./css/main.css");
@import url("./css/importancia.css");
@import url("./css/planos.css");
@import url("./css/perguntas.css");
@import url("./css/footer.css");
@import url("./css/modal.css");

:root {
  --darkBlue: rgb(2, 2, 75);
  --darkHeade: rgb(2, 2, 66);
  --branco: rgb(255, 255, 255);
  --red: rgb(255, 0, 0);
  --cinzaClaro: #e4e4e4;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.container1 {
  max-width: 1200px;
  margin: 0 auto;
}

.botao1 {
  color: white;
  border-radius: 5px;
  font-size: 1.75rem;
  display: inline-block;
  background: var(--red);
  padding: 12px 18px;
}

.botao1:hover {
  background: rgb(182, 4, 4);
}

h1,
h2,
h3,
p,
ul,
li,
dt,
dd {
  margin: 0px;
  padding: 0px;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
